<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% csrf_token %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/modern-business.css' %}">

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/d3.V4.min.js' %}"></script>

    <script src="{% static 'js/monitorpage.js' %}"></script>
    <script src="{% static 'js/screen.js' %}"></script>

    <style>
        svg {
{#            background-color:  whitesmoke;#}
            border: 1px solid whitesmoke;
        }
    </style>

    <title>Title</title>
</head>
<body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
              <img alt="Brand" src="{% static 'images/brand.png' %}">
          </a>
            <a class="navbar-brand" href="#">
              WSH
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">启动 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">偏差</a></li>
            <li><a href="#">报警 <span class="badge">4</span></a></li>
            <li><a href="#">后台</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <h5 class="text-left">XY方向膨胀</h5>
                    <svg height="200" width="580" id="xy">
                        <!--<rect height="250" width="580" fill="green" opacity="0.5"></rect>-->
                    </svg>
                </div>
                <div class="row">
                    <h5 class="text-left">Z方向膨胀</h5>
                    <svg height="200" width="580" id="z">
                    </svg>
                </div>
            </div>
            <div class="col-md-5">
                <h5 class="text-left">左右侧膨胀比例</h5>
                <svg height="440" width="420" id="rl">
                </svg>
            </div>
        </div>

        <div class="row">
            <h5 class="text-left">各方向膨胀变化率</h5>
            <svg height="150" width="1007" id="rate">

            </svg>
        </div>
    </div>

    <!-- 测试ajax -->
    <script>
{#        query_vector数据用以绘制xyz散点图及z方向柱状图#}
{#        query_ab数据用以绘制左右侧偏差曲线图#}
        var query_vector = [];
        var query_ab = [];
        var query_rate =[];

        function get_ab() {
            $.getJSON('{% url 'expansion:query_ab' %}', function(ret){
                fig_rl(ret);
                query_ab = ret;
                return query_ab;
            })
        }

        function get_vector() {
            $.getJSON('{% url 'expansion:query_vector' %}',function(ret){
                fig_xy(ret);
                fig_z(ret);
                query_vector = ret;
                return query_vector;
            })
        }

        function get_rate() {
            $.getJSON('{% url 'expansion:query_rate' %}',function(ret){
                fig_rate(ret)
                query_rate = ret;
                return query_rate;
            })
        }

        $(document).ready(function () {
            get_vector();
            get_ab();
            get_rate();
            setInterval(get_vector, 3000);
            setInterval(get_ab, 3000);
            setInterval(get_rate,3000);
        });

    </script>

    <script>
    function fig_xy(data) {
        var newsvg = d3.select('#xy');

        var width = newsvg.attr('width');
        var height = newsvg.attr('height');
        var padding = {'left':30,'right':20,'top':20,'bottom':30};

        var xscale = d3.scaleLinear()
            .domain([0,1])
            .range([padding.left,width-padding.right]);

        var yscale = d3.scaleLinear()
            .domain([0,1])
            .range([height-padding.bottom,padding.top]);

        var svgupdate = newsvg.selectAll('circle')
            .data(data);

        var svgenter = svgupdate.enter();

        var svgexit = svgupdate.exit();

        svgupdate
            .attr('cx',function (d,i) {
                return xscale(parseFloat(d.x))
            })
            .attr('cy',function (d,i) {
                return yscale(parseFloat(d.y))
            })
            .attr('r',10)
            .attr('fill','green')
            .attr('opacity',0.5)
            ;

        svgenter.append('circle')
            .attr('cx',function (d,i) {
                return xscale(d.x)
            })
            .attr('cy',function (d,i) {
                return yscale(d.y)
            })
            .attr('r',10)
            .attr('fill','green')
            .attr('opacity',0.5);

        svgexit.remove();
    }

    function fig_rl(data) {
        var svgrl = d3.select('#rl');

        var width = svgrl.attr('width');
        var height = svgrl.attr('height');
        var padding = {'left': 30, 'right': 20, 'top': 20, 'bottom': 10};

        var xscale = d3.scaleLog()
            .domain([0.5, 2])
            .range([padding.left, width - padding.right]);

        var yscale = d3.scaleLinear()
            .domain([0, data.length-1])
            .range([padding.top,height - padding.bottom]);


        var linePath = d3.line()
            .x(function (d,i) {
                return xscale(d[0])
            })
            .y(function (d,i) {
                return yscale(d[1])
            })
                .curve(d3.curveCardinal)
            ;

        var xlinePath = d3.line()
            .x(function (d,i) {
                return xscale(
                    parseFloat(d.right.x)/parseFloat(d.left.x)
                )
            })
            .y(function (d,i) {
                return yscale(i)
            })
            .curve(d3.curveCardinal);

        var ylinePath = d3.line()
            .x(function (d,i) {
                return xscale(
                    parseFloat(d.right.y)/parseFloat(d.left.y)
                )
            })
            .y(function (d,i) {
                return yscale(i)
            })
            .curve(d3.curveCardinal);

        var zlinePath = d3.line()
            .x(function (d,i) {
                return xscale(
                    parseFloat(d.right.z)/parseFloat(d.left.z)
                )
            })
            .y(function (d,i) {
                return yscale(i)
            })
            .curve(d3.curveCardinal);

        function draw(lpath, color, sym, vector) {
            var svgupdate = svgrl.selectAll('#path'+vector).data([1]);
            var svgenter = svgupdate.enter();
            var svgexit = svgupdate.exit();

            var symupdate = svgrl.selectAll('#sym'+vector)
                .data(data);

            var symenter = symupdate.enter();

            var symexit = symupdate.exit();

            svgupdate
                .attr('d', lpath(data))
                .attr('id','path'+vector)
                .attr('stroke', color)
                .attr('stroke-width', '1.5')
                .attr('fill', 'none')
                .attr('opacity',0.8);

            svgenter.append('path')
                .attr('d', lpath(data))
                .attr('id','path'+vector)
                .attr('stroke', color)
                .attr('stroke-width', '1.5')
                .attr('fill', 'none')
                .attr('opacity',0.8);

            svgexit.remove();

            symupdate
                .attr('id','sym'+vector)
                .attr('transform',function (d,i) {
                    return 'translate('+xscale(parseFloat(d.right[vector])/parseFloat(d.left[vector]))+','+yscale(i)+')'
                })
                .attr('d',d3.symbol().type(function (d,i) {
                    return d3.symbols[sym];
                }).size(50))
                .style('fill',color)
                .attr('opacity',0.8);

            symenter
                    .append('path')
                    .attr('id','sym'+vector)
                    .attr('transform',function (d,i) {
                        return 'translate('+xscale(parseFloat(d.right[vector])/parseFloat(d.left[vector]))+','+yscale(i)+')'
                    })
                    .attr('d',d3.symbol().type(function (d,i) {
                        return d3.symbols[sym];
                    }).size(50))
                    .style('fill',color)
                    .attr('opacity',0.8);

            symexit.remove();
        }

        draw(xlinePath,'red',1,'x');
        draw(ylinePath,'green',2,'y');
        draw(zlinePath,'orange',3,'z');

        svgrl.append('path')
            .attr('d',linePath([[1,0],[1,data.length-1]]))
            .attr('stroke','black')
            .attr('stroke-width','1')
            .attr('stroke-dasharray','5 2');


    }

    function fig_z(data) {
        var svgz = d3.select('#z');

        var width = svgz.attr('width');
        var height = svgz.attr('height');
        var padding = {'left':10,'right':10,'top':25,'bottom':5};

{#        var xscale = d3.scaleLinear()#}
{#            .domain([0,1])#}
{#            .range([padding.left,width-padding.right]);#}
        var rectpad = width/data.length;

        var rectwidth = rectpad/1.2;

        var padwidth = rectpad/12;

        var yscale = d3.scaleLinear()
            .domain([0,1.5])
            .range([padding.top,height-padding.bottom]);

        var svgupdate = svgz.selectAll('rect')
            .data(data);

        var svgenter = svgupdate.enter();

        var svgexit = svgupdate.exit();

        svgupdate.attr('x',function (d,i) {
                return padwidth/2+i*rectpad
            })
            .attr('y',function (d,i) {
                return padding.top
            })
            .attr('width',rectwidth)
            .attr('height',function (d,i) {
                return yscale(parseFloat(d.z))
            })
            .attr('fill','orange')
            .attr('opacity',0.8);

        svgenter.append('rect')
            .attr('x',function (d,i) {
                return padwidth/2+i*rectpad
            })
            .attr('y',function (d,i) {
                return padding.top
            })
            .attr('width',rectwidth)
            .attr('height',function (d,i) {
                return yscale(parseFloat(d.z))
            })
            .attr('fill','orange')
            .attr('opacity',0.8);

        svgexit.remove();

    }

    function fig_rate(data) {
        var svg = d3.select('#rate');

        var width = svg.attr('width');
        var height = svg.attr('height');
        var padding = {'left':10,'right':10,'top':5,'bottom':5};

        var color = {'x':'red','y':'green','z':'orange'};

        var rectpad = width/data.length*3;

        var rectwidth = rectpad/4;

        var padwidth = rectpad/4;


        var uplimit = 0.2;
        var dnlimit =-0.2;
        var yscale = d3.scaleLinear()
            .domain([dnlimit,uplimit])
            .range([height-padding.bottom,padding.top]);

        var svgupdate = svg.selectAll('rect')
            .data(data);

        var svgenter = svgupdate.enter();

        var svgexit = svgupdate.exit();

        svgupdate.attr('x',function (d,i) {
                return padwidth/2+(i%3)*rectwidth+parseInt(i/3)*rectpad
            })
            .attr('y',function (d,i) {
                r = parseFloat(d.now.value)-parseFloat(d.before.value);
                if (r>=0){
                    return yscale(r);
                }else {
                    return yscale(0);
                }
            })
            .attr('width',rectwidth)
            .attr('height',function (d,i) {
                r = parseFloat(d.now.value)-parseFloat(d.before.value);
                if (r>=0){
                    return yscale(0)-yscale(r)
                }else{
                    return yscale(r)-yscale(0)
                }
            })
            .attr('fill',function (d,i) {
                return color[d.kks__vector]
            })
            .attr('opacity',0.8);

        svgenter.append('rect')
            attr('x',function (d,i) {
                return padwidth/2+(i%3)*rectwidth+parseInt(i/3)*rectpad
            })
            .attr('y',function (d,i) {
                r = parseFloat(d.now.value)-parseFloat(d.before.value);
                if (r>=0){
                    return yscale(r);
                }else {
                    return yscale(0);
                }
            })
            .attr('width',rectwidth)
            .attr('height',function (d,i) {
                r = parseFloat(d.now.value)-parseFloat(d.before.value);
                if (r>=0){
                    return yscale(0)-yscale(r)
                }else{
                    return yscale(r)-yscale(0)
                }
            })
            .attr('fill',function (d,i) {
                return color[d.kks__vector]
            })
            .attr('opacity',0.8);

        svgexit.remove();
    }
    </script>


</body>


</html>