<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% csrf_token %}
    <meta charset="UTF-8">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/modern-business.css' %}">

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/d3.V4.min.js' %}"></script>

    <script src="{% static 'js/monitorpage.js' %}"></script>

    <title>Title</title>
</head>
<body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
              <img alt="Brand" src="{% static 'images/brand.png' %}">
          </a>
            <a class="navbar-brand" href="#">
              WSH
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">启动 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">偏差</a></li>
            <li><a href="#">报警 <span class="badge">4</span></a></li>
            <li><a href="#">后台</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <h5 class="text-center">XY散点图</h5>
                    <svg height="250" width="580" id="xy">
                        <!--<rect height="250" width="580" fill="green" opacity="0.5"></rect>-->
                    </svg>
                </div>
                <div class="row">
                    <h5 class="text-center">z直方图</h5>
                    <svg height="150" width="580" id="z">
                        <rect height="150" width="580" fill="green" opacity="0.5"></rect>
                    </svg>
                </div>
            </div>
            <div class="col-md-5">
                <h5 class="text-center">左右侧偏差折线图</h5>
                <svg height="440" width="420" id="rl">
                    <rect height="440" width="420" fill="green" opacity="0.5"></rect>
                </svg>
            </div>
        </div>

        <div class="row">
            <h5 class="text-center">变化率直方图</h5>
            <svg height="150" width="1007" id="rate">
                <rect height="150" width="1007" fill="green" opacity="0.5"></rect>
            </svg>
        </div>
        <!--<div class="row">
            <div class="col-md-6">
                <button class="btn btn-default center-block" type="button" id="f5">刷新</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-default center-block" type="button" id="query_vector">读数</button>
            </div>
        </div>-->
    </div>

    <!-- 测试ajax -->
    <script>
{#        query_vector数据用以绘制xyz散点图及z方向柱状图#}
{#        query_ab数据用以绘制左右侧偏差曲线图#}
        var query_vector = [];
        var query_ab = [];

        function get_ab() {
            $.getJSON('{% url 'expansion:query_ab' %}', function(ret){
                query_ab = ret;
                return query_ab;
            })
        }

        function get_vector() {
            $.getJSON('{% url 'expansion:query_vector' %}',function(ret){
                fig_xy(ret)
            })
        }

        $(document).ready(function () {
            get_vector();
            get_ab();
            setInterval(get_vector, 30000);
            setInterval(get_ab, 30000);
        });

{#    var width = 580;#}
{#    var height = 250;#}
{#    var padding = {'left':30,'right':20,'top':20,'bottom':30};#}
{#    var svg_xy = d3.select('#xy');#}
{##}
{#    var xscale = d3.scaleLinear()#}
{#        .domain([0,1])#}
{#        .range([padding.left,width-padding.right]);#}
{##}
{#    var yscale = d3.scaleLinear()#}
{#        .domain([0,1])#}
{#        .range([height-padding.bottom,padding.top]);#}
{##}
{#    var pointupdate = svg_xy.selectAll('circle')#}
{#        .data(query_vector);#}
{##}
{#    var pointenter = pointupdate.enter();#}
{##}
{#    var pointexit = pointupdate.exit();#}
{##}
{#    pointupdate.attr('cx',function (d,i) {#}
{#        return xscale(parseFloat(d.x))#}
{#    })#}
{#        .attr('cy',function (d,i) {#}
{#            return yscale(parseFloat(d.y))#}
{#        })#}
{#        .attr('r',15)#}
{#        .attr('fill','green');#}
{##}
{#    pointenter.append('circle')#}
{#        .attr('cx',function (d,i) {#}
{#        return xscale(parseFloat(d.x))#}
{#    })#}
{#        .attr('cy',function (d,i) {#}
{#            return yscale(parseFloat(d.y))#}
{#        })#}
{#        .attr('r',15)#}
{#        .attr('fill','green');#}
{##}
{#    pointexit.remove();#}


    </script>

    <script>

{#    var query_vector=[{'x':100/300,'y':150/300},{'x':150/300,'y':150/300},{'x':100/300,'y':200/300},{'x':150/300,'y':200/300}];#}

    function fig_xy(data) {
        var width = 580;
        var height = 250;
        var padding = {'left':30,'right':20,'top':20,'bottom':30};

        var xscale = d3.scaleLinear()
            .domain([0,1])
            .range([padding.left,width-padding.right]);

        var yscale = d3.scaleLinear()
            .domain([0,1])
            .range([height-padding.bottom,padding.top]);

        var newsvg = d3.select('#xy');

        var svgupdate = newsvg.selectAll('circle')
            .data(data);

        var svgenter = svgupdate.enter();

        var svgexit = svgupdate.exit();

        svgupdate.attr('cx',function (d,i) {
                return xscale(parseFloat(d.x))
            })
            .attr('cy',function (d,i) {
                return yscale(parseFloat(d.y))
            })
            .attr('r',10)
            .attr('fill','green')
            .attr('opacity',0.5);

        svgenter.append('circle')
            .attr('cx',function (d,i) {
                return xscale(d.x)
            })
            .attr('cy',function (d,i) {
                return yscale(d.y)
            })
            .attr('r',10)
            .attr('fill','green')
            .attr('opacity',0.5);

        svgexit.remove();
        }

{#    fig_xy(query_vector)#}
    </script>


</body>


</html>